          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
                Category
              </a>
            </li>
            <li>
              <a href="/tags.html">
                Tag
              </a>
            </li>
            <li>
              <a href="/archives.html">
                Archive
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                Memo
              </a>
            </li>
            <li>
              <a href="/about.html">
                About
              </a>
            </li>
          </ul>
